<div>
	<!--
	<ol class="breadcrumb">
		<li><a href="/courses">Courses</a></li>
		<li><a href="/courses/{{course.id}}">{{course.name || "Untitled Course"}}</a></li>
		<li class="active">Edit</li>
	</ol>
	-->
	
	<a href="/courses/{{course.id}}" class="btn btn-default">
		<i class="glyphicon glyphicon-arrow-left"></i> {{course.name}}
	</a>
	
	<div class="btn-toolbar pull-right">
		<button class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid || isUnchanged() || disableButtons">Save</button>
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
	
	<div class="page-header row">
		<div class="col-lg-4">
			<input type="text" class="form-control input-lg" placeholder="Untitled Course" autofocus="autofocus" ng-model="dirtyCourse.name" />
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-4">
			<textarea class="form-control" ng-model="dirtyCourse.info" rows="3"></textarea>
		</div>
	</div>
	
	<dl class="dl-horizontal">
		<dt>ID</dt> <dd>{{course.id}}</dd>
	</dl>
</div>