<fieldset>
	<legend>Login details</legend>
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label">Name</label>
			<div class="controls">
				<input type="text" ng-model="user.name" disabled/>
				&nbsp;
				<div style="display:inline-block">
					<a href="" ng-click="nameChangeRequest()">Request change</a>
				</div>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">Student ID</label>
			<div class="controls">
				<div class="input-append">
					<input type="text" class="input-small" ng-model="user.fcps_id" disabled/>
					<span class="add-on">@fcpsschools.net</span>
				</div>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">Gender</label>
			<div class="controls">
				<label class="radio inline">
					<input type="radio" ng-model="user.gender" name="gender" value="male"/>
					Male
				</label>
				<label class="radio inline">
					<input type="radio" ng-model="user.gender" name="gender" value="female"/>
					Female
				</label>
				<label class="radio inline">
					<input type="radio" ng-model="user.gender" name="gender" value="other"/>
					Other
				</label>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">School</label>
			<div class="controls">
				<select disabled="disabled" ng-model="user.school" ng-options="s.name for s in schools">
					<option value=""></option>
				</select>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">Team</label>
			<div class="controls">
				<select ng-model="user.team" ng-options="(t.letter+' ('+t.name+')') group by t.grade for t in teams">
					<option value=""></option>
				</select>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">Courses</label>
			<div class="controls">
				<button class="btn">Edit courses</button>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">
				<button class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid || isUnchanged()">Save</button>
				<button class="btn" ng-click="reset()" ng-disabled="isUnchanged()">Reset</button>
			</div>
		</div>
	</form>
	<p>
		<button class="btn btn-danger" ng-click="service.auth.logout()">Sign out and revoke tokens</button>
	</p>
</fieldset>
<fieldset itemscope itemprop="author">
	<legend>About</legend>
	<p>
		eDAB is a product of <a href="http://gengkev.github.com/desklampstudios" itemprop="url">Desklamp Studios</a>.
	</p>
	
	<div class="g-plus" data-href="https://plus.google.com/113383006901215901732" data-height="131" data-width="350"></div>
</fieldset>

