<div class="page-header">
	<h1>
		{{user.name || "Loading..."}}
		<small>{{user.fcps_id}}</small>
	</h1>
</div>
<h3>About me</h3>
<p class="lead preserve-whitespace">{{user.bio}}</p>

<h3>Contact info</h3>
<dl class="dl-horizontal">
	<dt>Real name</dt> <dd>{{user.real_name}}</dd>
	<dt>Gender</dt>	<dd>{{user.gender}}</dd>
	<dt>Google User ID</dt> <dd>{{user.id}}</dd>
	<dt>Student ID</dt> <dd>{{user.fcps_id}}</dd>
	<dt>Email</dt> <dd><a href="mailto:{{user.fcps_id}}@fcpsschools.net" target="_blank">{{user.fcps_id}}@fcpsschools.net</a></dd>
</dl>